<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3>Datos generales</h3>
      <hr />
      <form (ngSubmit)="onSubmit()" #employeesForm="ngForm">
        <div class="form-group">
          <label for="inputID">Clave</label>
          <input
            type="text"
            class="form-control"
            id="inputID"
            placeholder="1234PKÑ"
            [(ngModel)] = "employee.id_employee" name="id"
            #name="ngModel"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputName">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Erika Maria Muñoz Rueda"
              [(ngModel)] = "employee.name" name="name" required
            #name="ngModel"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputAge">Edad</label>
            <input
              type="number"
              class="form-control"
              id="inputAge"
              placeholder="Años"
              [(ngModel)] = "employee.age" name="age" required
            #name="ngModel"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputJob">Puesto</label>
          <input
            type="text"
            class="form-control"
            id="inputJob"
            placeholder="Auxiliar contable"
            [(ngModel)] = "employee.job" name="job" required
            #name="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="inputAddress">Dirección</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Colonia, calle, numero"
            [(ngModel)] = "employee.adress" name="adress" required
            #name="ngModel"
          />
        </div>
        <h3>Conocimientos y habilidades</h3>
        <hr/>
        <div class="form-row">
          <div class="input-group">
            <select  [(ngModel)]="selectedOption" class="custom-select" id="inputGroupSelect04" >
              <option *ngFor="let skill of skills">{{skill.id}} - {{skill.name}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="add()">
                Agregar
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <br/>
          <ul class="list-group">
            <li class="list-group-item">h3</li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary btn-aling ">Agregar</button>
        <button type="submit" class="btn btn-secondary btn-aling " routerLink="/employees">Cancelar</button>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
