<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 ">
      <h2>Empleados</h2>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
      <button class='btn btn-success btn-aling' routerLink="/employees-add">Registar empleado</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="table-responsive-sm">
    <table class="table">
      <thead class="active">
        <tr class="active">
          <th style="text-align: center">ID</th>
          <th style="text-align: center">Clave</th>
          <th style="text-align: center">Nombre</th>
          <th style="text-align: center">Edad</th>
          <th style="text-align: center">Puesto</th>
          <th style="text-align: center">Dirección</th>
          <th style="text-align: center">Conocimientos</th>
          <th style="text-align: center"></th>
          <th style="text-align: center"></th>
        </tr>
      </thead>
      <tbody class="ContentTableEmpleado">
        <tr *ngFor="let employee of employees">
          <td style="text-align: center">{{employee.id}}</td>
          <td style="text-align: center">{{employee.id_employee}}</td>
          <td style="text-align: center">{{employee.name}}</td>
          <td style="text-align: center">{{employee.age}}</td>
          <td style="text-align: center">{{employee.job}}</td>
          <td style="text-align: center">{{employee.adress}}</td>
          <td style="text-align: center">2</td>
          <td style="text-align: center">
            <button class="btn btn-link" (click)="update(employee['id'])">Editar</button>
          </td>
          <td style="text-align: center">
            <button class="btn btn-danger" (click)="delete(employee['id'])">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
